@font-face {
  font-family: Playwrite;
  src: url('/fonts/Playwrite.ttf');
}

@font-face {
  font-family: ZenMaru;
  src: url('/fonts/ZenMaru.ttf');
}

:root {


  @media (prefers-color-scheme: dark) {

  }
}