---
import Layout from '../layouts/Layout.astro';
import styles from './notfound.module.scss';
---

<Layout>
  <head>
    <title>404 Not Found</title>
  </head>
  <h2>404 Not Found</h2>
  <p>This page could not be found. This may have been deleted or not exist. <a class={styles.visitHome} href="/">Visit Index Page</a> to make use of this App.</p>
</Layout>