---
import Layout from '../layouts/Layout.astro';
import './index.scss';
import styles from './index.module.scss';
---

<Layout>
	<head>
		<title>Dialpad</title>
	</head>
	<section>
		<div class={styles.dialpad}>
			<div class={styles.keyrow}>

			</div>
		</div>
	</section>
</Layout>
