footer {
  position: fixed;
  bottom: 18px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footerBar {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 15px;

  --footerBarBackground-left: #00000017;
  --footerBarBackground-right: #00000043;
  @media (prefers-color-scheme: dark) {
    --footerBarBackground-left: #ffffffb8;
    --footerBarBackground-right: #ffffff8b;
  }

  margin: 0 auto;
  border-radius: 37px;
  height: 74px;
  min-width: 175px;
  background: linear-gradient(52deg, var(--footerBarBackground-left), var(--footerBarBackground-right));

  backdrop-filter: blur(5px);
  -wevkit-backdrop-filter: blur(5px);
}