---
import Footer from '../components/Footer.astro';
import styles from './layout.module.scss';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <meta property="og:image" content="/icons/ogp.jpg" />
    <meta property="og:site_name" content="電話もどき by Wing" />
    <meta property="og:description" content="電話の音だけ楽しめるアプリ！自宅が黒電話であることを隠したい人におすすめです！他にも，電卓機能，SMS送信など，いらん機能追加予定！" />
    <meta property="og:url" content="https://dial.app.wing.osaka/" />
    <meta property="og:locale" content="ja-JP"/>
  </head>
  <body>
    <div>
      <div>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @import '../styles/globals.scss';
</style>